<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="assessment2.Properties.Settings.CDACConnectionString"
            connectionString="Data Source=192.168.1.44\MSSQLSERVER_2017;Initial Catalog=CDAC;User ID=cdacdev;Password=cdacdev123#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>